<meta charset="UTF-8">
<!--Mobile first-->
<meta name="viewport" content="width=device-width, initial-scale=1">
<!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
<title>{{title}}</title>

<meta name="description" content="{{pkg.description}}">
<meta name="author" content="{{pkg.author.name}}">

<meta name="msapplication-TileColor" content="#5bc0de" />
<meta name="msapplication-TileImage" content="{{assets}}/img/metis-tile.png" />

<!-- Bootstrap -->
<link rel="stylesheet" href="{{assets}}/lib/bootstrap/css/bootstrap.css" id="bootstrap-css">

<!-- Bootstrap Icons -->
<link rel="stylesheet" href="{{assets}}/lib/bootstrap-icons/bootstrap-icons.css">

<!-- Font Awesome -->
<link rel="stylesheet" href="{{assets}}/lib/font-awesome/css/all.min.css">

<!-- Metis core stylesheet -->
<link rel="stylesheet" href="{{assets}}/css/main.css">
<link rel="stylesheet" href="{{assets}}/css/metis.css">

<!-- metisMenu stylesheet -->
<link rel="stylesheet" href="{{assets}}/lib/metismenu/metisMenu.css">
