<meta charset="UTF-8">
<!--IE Compatibility modes-->
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<!--Mobile first-->
<meta name="viewport" content="width=device-width, initial-scale=1">
<!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
<title>{{title}}{{#if rtl}} - RTL{{/if}}</title>

<meta name="description" content="{{pkg.description}}">
<meta name="author" content="{{pkg.author.name}}">

<meta name="msapplication-TileColor" content="#5bc0de" />
<meta name="msapplication-TileImage" content="{{assets}}/img/metis-tile.png" />

<!-- Bootstrap -->
<link rel="stylesheet" href="{{assets}}/lib/bootstrap/css/bootstrap{{#if rtl}}.rtl{{/if}}{{#if production}}.min{{/if}}.css">

<!-- Font Awesome -->
<link rel="stylesheet" href="{{assets}}/lib/font-awesome/css/font-awesome{{#if production}}.min{{/if}}.css">

<!-- Metis core stylesheet -->
<link rel="stylesheet" href="{{assets}}/css/main{{#if rtl}}.rtl{{/if}}{{#if production}}.min{{/if}}.css">

<!-- metisMenu stylesheet -->
<link rel="stylesheet" href="{{assets}}/lib/metismenu/metisMenu{{#if production}}.min{{/if}}.css">

<!-- onoffcanvas stylesheet -->
<link rel="stylesheet" href="{{assets}}/lib/onoffcanvas/onoffcanvas{{#if production}}.min{{/if}}.css">

<!-- animate.css stylesheet -->
<link rel="stylesheet" href="{{assets}}/lib/animate.css/animate{{#if production}}.min{{/if}}.css">
