<!doctype html>
<html>

<head>
    {{> meta}}

{{#if stylesheets}}
    {{#each stylesheets}}
        <link rel="stylesheet" href="{{assets}}/assets/{{.}}">
    {{/each}}
{{/if}}
{{#if cdncss}}
    {{#each cdncss}}
        <link rel="stylesheet" href="{{.}}">
    {{/each}}
{{/if}}

    {{!-- {{> analytic}}
    --}}
  </head>

    <body class="{{#if boXed}}container{{else}}container-fluid{{/if}} p-0 d-flex flex-column">
        
        <!-- BEGIN: /#top -->
        <div id="top">
        {{> nav }}
        {{> head }}
        </div>
        <!-- END: /#top -->
            
            <div class="metis-wrap bg-dark d-flex aligns-item-stretch position-relative flex-fill w-100" id="metis-wrap">
                
                {{> left }}
                <div class="metis-content bg-light w-100 flex-fill py-3">
                    {% body %}
                </div>
                <!-- /#content -->

                {{> right }}
            </div>
            <!-- /#wrap -->
            <footer class="container-fluid bg-dark text-light p-3 d-flex align-items-center justify-content-center">
                2022 &copy; Metis Bootstrap Admin Template
            </footer>
            <!-- /#footer -->
            {{> helpModal }}

            <!--jQuery -->
            <script src="{{assets}}/lib/jquery/jquery.min.js"></script>

            {{#if cdnjs}}
                {{#each cdnjs}}
                    <script src="{{.}}"></script>
                {{/each}}
            {{/if}}

            {{#if javascripts}}
                {{#each javascripts}}
                    <script src="{{assets}}/assets/{{.}}"></script>
                {{/each}}
            {{/if}}

            <!-- Metis core scripts: REQUIRED -->
            <script src="{{assets}}/js/core.js"></script>
            <!-- Metis demo scripts -->
            <script src="{{assets}}/js/app.js"></script>

            {{#if scripts}}
                <script>
                    $(function() {
                    {{#each scripts }}
                      {{.}};
                    {{/each}}
                    });
                </script>
            {{/if}}

        </body>

</html>
