<!doctype html>
<html class="no-js">
<head>
    <meta charset="UTF-8">
    <title>{{title}}</title>
    <!--IE Compatibility modes-->
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!--Mobile first-->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Bootstrap -->
    {{#if rtl}}
    <link rel="stylesheet" href="{{assets}}/lib/bootstrap/css/bootstrap.rtl.css">
    {{else}}
    <link rel="stylesheet" href="{{assets}}/lib/bootstrap/css/bootstrap.min.css">
    {{/if}}
    <!-- Font Awesome -->
    <link rel="stylesheet" href="{{assets}}/lib/font-awesome/css/font-awesome.min.css">
    <!-- Metis core stylesheet -->
    {{#if rtl}}
    <link rel="stylesheet" href="{{assets}}/css/main.rtl.css">
    {{else}}
    <link rel="stylesheet" href="{{assets}}/css/main.min.css">
    {{/if}}
    <!-- Metis Theme stylesheet -->
    
    {{#if rtl}}
    <style>body{direction: rtl;}</style>
    {{/if}}
   
    {{#if stylesheets}}
        {{css stylesheets}}
    {{/if}}

    {{#if cdncss}}
        {{cdn cdncss}}
    {{/if}}

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="{{assets}}/lib/html5shiv/html5shiv.js"></script>
    <script src="{{assets}}/lib/respond/respond.min.js"></script>
    <![endif]-->
    <!--For Development Only. Not required -->
    <script>
        less = {
            env: "development",
            relativeUrls: false,
            rootpath: "../assets/"
        };
    </script>
    <link rel="stylesheet" href="{{assets}}/css/style-switcher.css">
    <link rel="stylesheet/less" type="text/css" href="{{assets}}/css/less/theme.less">
    <script src="{{assets}}/lib/less/less-1.7.0.min.js"></script>
    
    
    <!--Modernizr 2.8.2-->
    <script src="{{assets}}/lib/modernizr/modernizr.min.js"></script>
</head>
<body class="{{#if boXed}}boxed{{/if}} {{#if sideMini}}sidebar-left-mini{{/if}} {{#if fixedMenu}}menu-affix{{/if}}">
<div class="bg-dark dk" id="wrap">
    <div id="top">
        {{> nav }}

        <header class="head">
            <div class="search-bar">
                {{> mainSearch }}
            </div>
            <!-- /.search-bar -->

            <div class="main-bar">
                <h3><i class="{{ icon }}"></i>&nbsp; {{ title }}</h3>
            </div>
            <!-- /.main-bar -->
        </header>
        <!-- /.head -->
    </div>
    <!-- /#top -->
    <div id="left">
        {{> left }}
    </div>
    <!-- /#left -->
    <div id="content">
        <div class="outer">
            <div class="inner bg-light lter">
                {{> body }}
            </div>
            <!-- /.inner -->
        </div>
        <!-- /.outer -->
    </div>
    <!-- /#content -->

    <div id="right" class="bg-light lter">
        {{> right }}
    </div>
    <!-- /#right -->
</div>
<!-- /#wrap -->
<footer class="Footer bg-dark dker">
    <p>2014 &copy; Metis Bootstrap Admin Template</p>
</footer>
<!-- /#footer -->

{{> helpModal }}

<!--jQuery 2.1.1 -->
<script src="{{assets}}/lib/jquery/jquery.min.js"></script>
<!--Bootstrap -->
<script src="{{assets}}/lib/bootstrap/js/bootstrap.min.js"></script>

{{#if cdnjs}}
    {{cdn cdnjs}}
{{/if}}

<!-- Screenfull -->
<script src="{{assets}}/lib/screenfull/screenfull.js"></script>

{{#is title "Maps"}}
    <script src="http://maps.google.com/maps/api/js?sensor=true"></script>
{{/is}}

{{#if javascripts}}
    {{js javascripts}}
{{/if}}




<!-- Metis core scripts -->
<script src="{{assets}}/js/core.min.js"></script>

<!-- Metis demo scripts -->
<script src="{{assets}}/js/app.js"></script>
{{#if scripts}}
    <script>
            {{scripts}}
    </script>
{{/if}}
    <script src="{{assets}}/js/style-switcher.js"></script>
</body>
</html>