<!doctype html>
<html class="no-js">
<head>
    <meta charset="UTF-8">
    <title>{{title}}</title>
    <!--IE Compatibility modes-->
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!--Mobile first-->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Bootstrap -->
    {{#if rtl}}
    <link rel="stylesheet" href="{{assets}}/lib/bootstrap/css/bootstrap.rtl.css">
    {{else}}
    <link rel="stylesheet" href="{{assets}}/lib/bootstrap/css/bootstrap.min.css">
    {{/if}}
    <!-- Font Awesome -->
    <link rel="stylesheet" href="{{assets}}/lib/font-awesome/css/font-awesome.min.css">
    <!-- Metis core stylesheet -->
    {{#if rtl}}
    <link rel="stylesheet" href="{{assets}}/css/main.rtl.css">
    {{else}}
    <link rel="stylesheet" href="{{assets}}/css/main.min.css">
    {{/if}}
    <!-- Metis Theme stylesheet -->
    <link rel="stylesheet" href="{{assets}}/css/theme.css">
    
    {{#if rtl}}
    <style>body{direction: rtl;}</style>
    {{/if}}
   
    {{#if stylesheets}}
        {{css stylesheets}}
    {{/if}}

    {{#if cdncss}}
        {{cdn cdncss}}
    {{/if}}

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="{{assets}}/lib/html5shiv/html5shiv.js"></script>
    <script src="{{assets}}/lib/respond/respond.min.js"></script>
    <![endif]-->
    <!--Modernizr 2.7.2-->
    <script src="{{assets}}/lib/modernizr/modernizr.min.js"></script>
</head>
<body>
<div id="wrap">
    <div id="top">
        {{> nav }}

        <header class="head">
            <div class="search-bar">
                {{> mainSearch }}
            </div>
            <!-- /.search-bar -->

            <div class="main-bar">
                <h3><i class="{{ icon }}"></i> {{ title }}</h3>
            </div>
            <!-- /.main-bar -->
        </header>
        <!-- /.head -->
    </div>
    <!-- /#top -->
    <div id="left">
        {{> left }}
    </div>
    <!-- /#left -->
    <div id="content">
        <div class="outer">
            <div class="inner">
                {{> body }}
            </div>
            <!-- /.inner -->
        </div>
        <!-- /.outer -->
    </div>
    <!-- /#content -->

    <div id="right">
        {{> right }}
    </div>
    <!-- /#right -->
</div>
<!-- /#wrap -->
<footer id="footer">
    <p>2014 &copy; Metis Bootstrap Admin Template</p>
</footer>
<!-- /#footer -->

{{> helpModal }}

<!--jQuery 2.1.0 -->
<script src="{{assets}}/lib/jquery/jquery.min.js"></script>
<!--Bootstrap -->
<script src="{{assets}}/lib/bootstrap/js/bootstrap.min.js"></script>

<!-- Screenfull -->
<script src="{{assets}}/lib/screenfull/screenfull.js"></script>

{{#if cdnjs}}
    {{cdn cdnjs}}
{{/if}}

{{#if javascripts}}
    {{js javascripts}}
{{/if}}

{{#if scripts}}
    <script>
            {{scripts}}
    </script>
{{/if}}


<!-- Metis core scripts -->
<script src="{{assets}}/js/main.min.js"></script>
<!--For Demo Only. Not required -->
<script src="{{assets}}/js/style-switcher.min.js"></script>
</body>
</html>