<!doctype html>
<html>

<head>
    {{> meta}}

{{> rtl-style}}

{{#if stylesheets}}
    {{#each stylesheets}}
        <link rel="stylesheet" href="{{assets}}/assets/{{.}}">
    {{/each}}
{{/if}}
{{#if cdncss}}
    {{#each cdncss}}
        <link rel="stylesheet" href="{{.}}">
    {{/each}}
{{/if}}

<!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
<!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
<![endif]-->

    <!--For Development Only. Not required -->
    <script>
        less = {
            env: "development",
            relativeUrls: false,
            rootpath: "/assets/"
        };
    </script>
    <link rel="stylesheet" href="{{assets}}/css/style-switcher{{#if production}}.min{{/if}}.css">
    <link rel="stylesheet/less" type="text/css" href="{{assets}}/less/theme.less">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/less.js/2.7.1/less{{#if production}}.min{{/if}}.js"></script>

    {{!-- {{> analytic}}
    --}}
  </head>

        <body class="{{#if boXed}}boxed{{/if}} {{#if sideMini}}sidebar-left-mini{{/if}} {{#if fixedMenu}}menu-affix{{/if}}">
            <div class="bg-dark dk" id="wrap">
                <div id="top">
                    {{> nav }}
                    {{#if noHeader}}
                    {{else}}
                        <header class="head">
                            {{#if noMainSearch}}
                            {{else}}
                                <div class="search-bar">
                                    {{> mainSearch }}
                                </div>
                                <!-- /.search-bar -->
                            {{/if}}
                            <div class="main-bar">
                                <h3>
            {{#if icon}}
              <i class="{{ icon }}"></i>&nbsp;
            {{/if}}
            {{ title }}
          </h3>
                            </div>
                            <!-- /.main-bar -->
                        </header>
                        <!-- /.head -->
                    {{/if}}
                </div>
                <!-- /#top -->
                {{#if noLeftSidebar}}
                {{else}}
                    <div id="left">
                        {{> left }}
                    </div>
                    <!-- /#left -->
                {{/if}}
                <div id="content">
                    <div class="outer">
                        <div class="inner bg-light lter">
                            {% body %}
                        </div>
                        <!-- /.inner -->
                    </div>
                    <!-- /.outer -->
                </div>
                <!-- /#content -->

                {{#if noRightSidebar}}
                {{else}}
                    <div id="right" class="onoffcanvas {{#if rtl}}is-left{{else}}is-right{{/if}} is-fixed bg-light" aria-expanded=false>
                        {{> right }}
                    </div>
                    <!-- /#right -->
                {{/if}}
            </div>
            <!-- /#wrap -->
            <footer class="Footer bg-dark dker">
                <p>2017 &copy; Metis Bootstrap Admin Template v2.4.2</p>
            </footer>
            <!-- /#footer -->
            {{> helpModal }}

            <!--jQuery -->
            <script src="{{assets}}/lib/jquery/jquery{{#if production}}.min{{/if}}.js"></script>

            {{#if cdnjs}}
                {{#each cdnjs}}
                    <script src="{{.}}"></script>
                {{/each}}
            {{/if}}

            <!--Bootstrap -->
            <script src="{{assets}}/lib/bootstrap/js/bootstrap{{#if production}}.min{{/if}}.js"></script>
            <!-- MetisMenu -->
            <script src="{{assets}}/lib/metismenu/metisMenu{{#if production}}.min{{/if}}.js"></script>
            <!-- onoffcanvas -->
            <script src="{{assets}}/lib/onoffcanvas/onoffcanvas{{#if production}}.min{{/if}}.js"></script>
            <!-- Screenfull -->
            <script src="{{assets}}/lib/screenfull/screenfull.js"></script>

            {{#if javascripts}}
                {{#each javascripts}}
                    <script src="{{assets}}/assets/{{.}}"></script>
                {{/each}}
            {{/if}}

            <!-- Metis core scripts -->
            <script src="{{assets}}/js/core{{#if production}}.min{{/if}}.js"></script>
            <!-- Metis demo scripts -->
            <script src="{{assets}}/js/app{{#if production}}.min{{/if}}.js"></script>

            {{#if scripts}}
                <script>
                    $(function() {
                    {{#each scripts }}
                      {{.}};
                    {{/each}}
                    });
                </script>
            {{/if}}

            <script src="{{assets}}/js/style-switcher{{#if production}}.min{{/if}}.js"></script>
        </body>

</html>
