<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>{{ title }}</title>
  <meta name="msapplication-TileColor" content="#5bc0de"/>
  <meta name="msapplication-TileImage" content="{{assets}}/img/metis-tile.png"/>
  <!-- Bootstrap -->
  {{#if rtl}}
  <link rel="stylesheet" href="{{assets}}/lib/bootstrap/dist/css/bootstrap.rtl.css">
  {{else}}
  <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.1/css/bootstrap.min.css">
  {{/if}}
  <!-- Font Awesome -->
  <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/font-awesome/4.2.0/css/font-awesome.min.css">
  <!-- Metis core stylesheet -->
  {{#if rtl}}
  <link rel="stylesheet" href="{{assets}}/css/main.rtl.css">
  {{else}}
  <link rel="stylesheet" href="{{assets}}/css/main.min.css">
  {{/if}}
  {{#if rtl}}
  <style>body{direction: rtl;}</style>
  {{/if}}
  {{#if analytics}}
  {{analytics google.analytics 'head'}}
  {{/if}}
</head>
<body class="error">
  <div class="container">
    <div class="col-lg-8 col-lg-offset-2 text-center">
      <div class="logo">
        <h1>{{title}}</h1>
      </div>
      <p class="lead text-muted">{{message}}</p>
      <div class="clearfix"></div>
      <div class="col-lg-6 col-lg-offset-3">
        <form action="index.html">
          <div class="input-group">
            <input type="text" placeholder="search ..." class="form-control">
            <span class="input-group-btn">
              <button class="btn btn-default" type="button"><i class="fa fa-search"></i></button>
            </span>
          </div>
        </form>
      </div>
      <div class="clearfix"></div>
      <br>
      <div class="col-lg-6 col-lg-offset-3">
        <div class="btn-group btn-group-justified">
          <a href="dashboard.html" class="btn btn-info">Return Dashboard</a>
          <a href="index.html" class="btn btn-warning">Return Website</a>
        </div>
      </div>
    </div>
    <!-- /.col-lg-8 col-offset-2 -->
  </div>
</body>
</html>
