<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>{{ title }}</title>
        <meta name="msapplication-TileColor" content="#5bc0de"/>
        <meta name="msapplication-TileImage" content="{{assets}}/img/metis-tile.png"/>


        <!-- Bootstrap -->
        {{#if rtl}}
        <link rel="stylesheet" href="{{assets}}/lib/bootstrap/dist/css/bootstrap.rtl.css">
        {{else}}
        <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.6/css/bootstrap.min.css">
        {{/if}}
        <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/animate.css/3.2.0/animate.min.css">
    <!-- Metis core stylesheet -->
    {{#if rtl}}
    <link rel="stylesheet" href="{{assets}}/css/main.rtl.css">
    {{else}}
    <link rel="stylesheet" href="{{assets}}/css/main.min.css">
    {{/if}}
    {{#if rtl}}
    <style>body{direction: rtl;}</style>
    {{/if}}
    {{#if analytics}}
    {{analytics google.analytics 'head'}}
    {{/if}}
  </head>
  <body class="login">

	      {{> body }}


        <!--jQuery -->
        <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
        <!--Bootstrap -->
        <script src="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.6/js/bootstrap.min.js"></script>

        <script type="text/javascript">
	(function($) {
	  $(document).ready(function() {
	    $('.list-inline li > a').click(function() {
                var activeForm = $(this).attr('href') + ' > form';
                //console.log(activeForm);
                $(activeForm).addClass('animated fadeIn');
                //set timer to 1 seconds, after that, unload the animate animation
                setTimeout(function() {
                    $(activeForm).removeClass('animated fadeIn');
                }, 1000);
            });
	  });
	})(jQuery);
</script>
  </body>
</html>
